/.idea
/Services/Basket/Basket.API/obj/
/Services/Basket/Basket.API/bin/
/Services/Basket/Basket.API/.idea/
/Services/Basket/Basket.API/Properties/
/Services/Basket/Basket.Application/.idea/
/Services/Basket/Basket.Application/bin/
/Services/Basket/Basket.Application/obj/
/Services/Basket/Basket.Core/.idea/
/Services/Basket/Basket.Core/bin/
/Services/Basket/Basket.Core/obj/
/Services/Basket/Basket.Infrastructure/.idea/
/Services/Basket/Basket.Infrastructure/bin/
/Services/Basket/Basket.Infrastructure/obj/
/Services/Catalog/Catalog.API/.idea/
/Services/Catalog/Catalog.API/obj/
/Services/Catalog/Catalog.API/bin/
/Services/Catalog/Catalog.API/Properties/
/Services/Catalog/Catalog.Application/.idea/
/Services/Catalog/Catalog.Application/bin/
/Services/Catalog/Catalog.Application/obj/
/Services/Catalog/Catalog.Core/.idea/
/Services/Catalog/Catalog.Core/bin/
/Services/Catalog/Catalog.Core/obj/
/Services/Catalog/Catalog.Infrastructure/.idea/
/Services/Catalog/Catalog.Infrastructure/bin/
/Services/Catalog/Catalog.Infrastructure/obj/
